/* Add this CSS to your external styles.css or in a <style> tag in the <head> of your HTML file */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ccc;
    border-radius: 16px;
    
}
.card-body{
    background-color: #ccc;
}

.card-title {
    color: #333;
}
.card-content {
    padding: 10px;
}

.text-center {
    text-align: center;
}


/*Color Selector*/
.color-selector {
    text-align: center;
}

.color-option {
    width: 30px;
    height: 30px;
    border-radius: 50%; /* This property makes the element a circle */
    display: inline-block;
    margin: 0 10px; /* Adjust the margin to control the spacing between circles */
    cursor: pointer;
    transition: border 0.3s ease-in-out;
}
.brown {
    background-color: #654365;
}

.light-green {
    background-color: #90EE90;
}

.midnight-blue {
    background-color: #191970;
}
.black {
    background-color: #000000;
}
.teal {
    background-color: #008080;
}
.dark-blue {
    background-color: #00008B;
}
.purple {
    background-color: #800080;
}
.pink{
    background-color: #FFC0CB;
}
.light-blue {
    background-color: #ADD8E6;
}
.yellow {
    background-color: #FFFF00;
}
.white {
    background-color: #FFFFFF;
}
.beige {
    background-color: #F5F5DC;
}
#color-name {
    margin-top: 10px;
}
