/* Theme: Grey */
.grey {
    /* Background colors */
    --col-bg-400: #dddddd !important;
    --col-bg-500: #b0b0b0 !important;
    --col-bg-600: #999999 !important;
    --col-bg-700: #777777 !important;
    --col-bg-800: #555555 !important;
  
    /* Bacground color for current date on the Events Calendar */
    --col-current-date: #888888 !important;
  
    /* Bacground color for project in second deadline */
    --col-second-deadline: #dddddd2b !important;
  
    /* Text color for project link in second deadline */
    --col-second-deadline-link: #b0b0b0 !important;
  
    /* Accent colors */
    --col-acc-400: #ff0000 !important;
    --col-acc-500: #cc0000 !important;
  
    /* Custom colors */
    --col-code-color: #0099cc !important;
    --col-quiz-pass: #00cc66 !important;
  
    /* Colors for the checker */
    --col-code-pass: #33cc33 !important;
    --col-code-fail: #ff3300 !important;
    --col-requirement-pass: #33cc3366 !important;
    --col-requirement-fail: #ff330066 !important;
    --col-efficiency-success: #00cc66 !important;
    --col-efficiency-fail: #ffcc00 !important;
    --col-answer-success: #0000cc !important;
    --col-answer-fail: #cc6600 !important;
  
    /* Text colors */
    --col-light-400: #ffffff !important;
    --col-light-500: #cccccc !important;
    --col-light-600: #a0a0a0 !important;
    --col-light-700: #777777 !important;
    --col-light-800: #555555 !important;
    --col-bg-clear: transparent !important;
  }
  
  /* Theme: Light Green */
  .color-option.light-green {
    /* Background colors */
    --col-bg-400: #e6f7e6 !important;
    --col-bg-500: #c2e6c2 !important;
    --col-bg-600: #99d699 !important;
    --col-bg-700: #5cce5c !important;
    --col-bg-800: #29b329 !important;
  
    /* Bacground color for current date on the Events Calendar */
    --col-current-date: #66cc66 !important;
  
    /* Bacground color for project in second deadline */
    --col-second-deadline: #e6f7e62b !important;
  
    /* Text color for project link in second deadline */
    --col-second-deadline-link: #c2e6c2 !important;
  
    /* Accent colors */
    --col-acc-400: #008000 !important;
    --col-acc-500: #006400 !important;
  
    /* Custom colors */
    --col-code-color: #005599 !important;
    --col-quiz-pass: #33cc33 !important;
  
    /* Colors for the checker */
    --col-code-pass: #00cc00 !important;
    --col-code-fail: #ff3300 !important;
    --col-requirement-pass: #00cc0066 !important;
    --col-requirement-fail: #ff330066 !important;
    --col-efficiency-success: #33cc33 !important;
    --col-efficiency-fail: #ff9900 !important;
    --col-answer-success: #003366 !important;
    --col-answer-fail: #cc6600 !important;
  
    /* Text colors */
    --col-light-400: #ffffff !important;
    --col-light-500: #cccccc !important;
    --col-light-600: #a0a0a0 !important;
    --col-light-700: #777777 !important;
    --col-light-800: #555555 !important;
    --col-bg-clear: transparent !important;
  }
  
  /* Continue with other theme customizations following the same structure */
  